langchain
langchain-community
langchain-classic
langchain-text-splitters
langchain-chroma
langchain-openai
langchain-ollama
langgraph
tiktoken
python-dotenv

sentence-transformers>=6.0.1,<7
transformers>=5,<6
torch
chromadb
rank-bm25

unstructured[pdf]
pymupdf

cohere
pandas
matplotlib
streamlit
jsonargparse
loguru
rich
