langchain_community
langchain
loguru
rich
sentence-transformers>=6.0.1
unstructured
unstructured[pdf]
chromadb
rank_bm25
matplotlib
jsonargparse
langchain-openai
pymupdf
streamlit
cohere
langchain-classic
langchain-chroma
langchain-ollama
