# Create these project API keys at http://localhost:3000.

LANGFUSE_SECRET_KEY="sk-lf-823e5d2a-757e-418f-86a9-8aa041b539cb"
LANGFUSE_PUBLIC_KEY="pk-lf-4e43cba2-7d3f-4650-8ca8-2398fa9656a2"
LANGFUSE_BASE_URL="http://localhost:3000"